{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "@babel/eslint-parser",
  "rules": {
     "no-unused-vars": "warn",
     "react/jsx-key": "warn",
     "react/prop-types": "warn"
  }
}
